In [0]:
import pandas as pd
from urllib.request import urlopen
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator,BayesianEstimator

In [0]:
names = "A,B,C,D,E,F,G,H,I,J,K,L,M,RESULT"
names = names.split(",")
print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'RESULT']

In [0]:
data = pd.read_csv(urlopen("http://bit.do/heart-disease"),names=names)
data.head()

      A    B    C      D      E    F  ...    I    J    K    L    M RESULT
0  63.0  1.0  1.0  145.0  233.0  1.0  ...  0.0  2.3  3.0  0.0  6.0      0
1  67.0  1.0  4.0  160.0  286.0  0.0  ...  1.0  1.5  2.0  3.0  3.0      2
2  67.0  1.0  4.0  120.0  229.0  0.0  ...  1.0  2.6  2.0  2.0  7.0      1
3  37.0  1.0  3.0  130.0  250.0  0.0  ...  0.0  3.5  3.0  0.0  3.0      0
4  41.0  0.0  2.0  130.0  204.0  0.0  ...  0.0  1.4  1.0  0.0  3.0      0

[5 rows x 14 columns]

In [0]:
model = BayesianModel([("A","B"),("B","C"),("C","D"),("D","RESULT")])
model.fit(data,estimator=MaximumLikelihoodEstimator)

In [0]:
from pgmpy.inference import VariableElimination
infer = VariableElimination(model)
q = infer.query(variables=['RESULT'],evidence={"C":2})
print(q["RESULT"])

+----------+---------------+
| RESULT   |   phi(RESULT) |
+==========+===============+
| RESULT_0 |        0.6079 |
+----------+---------------+
| RESULT_1 |        0.1638 |
+----------+---------------+
| RESULT_2 |        0.0983 |
+----------+---------------+
| RESULT_3 |        0.0960 |
+----------+---------------+
| RESULT_4 |        0.0341 |
+----------+---------------+

/usr/local/lib/python3.6/dist-packages/pgmpy/factors/discrete/DiscreteFactor.py:598: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  phi1.values = phi1.values[slice_]