<a href="https://colab.research.google.com/github/Deekshashivalingu/machine_learning_lab/blob/master/Copy_of_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from pandas import DataFrame

In [0]:
db_golf=DataFrame.from_csv("/content/weather.csv")
db_golf

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

     outlook temperature humidity    wind play
id
1      sunny         hot     high    weak   no
2      sunny         hot     high  strong   no
3   overcast         hot     high    weak  yes
4      rainy        mild     high    weak  yes
5      rainy        cool   normal    weak  yes
6      rainy        cool   normal  strong   no
7   overcast        cool   normal  strong  yes
8      sunny        mild     high    weak   no
9      sunny        cool   normal    weak  yes
10     rainy        mild   normal    weak  yes
11     sunny        mild   normal  strong  yes
12  overcast        mild     high  strong  yes
13  overcast         hot   normal    weak  yes
14     rainy        mild     high  strong   no

In [0]:
attribute_name=list(db_golf.columns)

In [0]:
attribute_name.remove('play')

In [0]:
print("predicting attributes:",attribute_name)

predicting attributes: ['outlook', 'temperature', 'humidity', 'wind']

In [0]:
table=dict()
priorprob=dict()

In [0]:
train=db_golf.sample(frac=0.8,random_state=100)
train

     outlook temperature humidity    wind play
id
12  overcast        mild     high  strong  yes
13  overcast         hot   normal    weak  yes
6      rainy        cool   normal  strong   no
2      sunny         hot     high  strong   no
10     rainy        mild   normal    weak  yes
5      rainy        cool   normal    weak  yes
7   overcast        cool   normal  strong  yes
3   overcast         hot     high    weak  yes
1      sunny         hot     high    weak   no
11     sunny        mild   normal  strong  yes
8      sunny        mild     high    weak   no

In [0]:
test=db_golf.drop(train.index)

In [0]:
test

   outlook temperature humidity    wind play
id
4    rainy        mild     high    weak  yes
9    sunny        cool   normal    weak  yes
14   rainy        mild     high  strong   no

In [0]:
for attr_val,data_subset in train.groupby('play'):          #11 data => 4=no and 7=yes
  from collections import Counter
  valuecount=dict()
  count=0
  for attr_value in attribute_name:
    cnt=Counter(x for x in data_subset[attr_value])
    count=sum(cnt.values())
    #print(count)
    valuecount[attr_value]=dict(cnt)
    print("valuecount",valuecount.values())
    print("counter:",cnt)
  table[attr_val]=valuecount
  priorprob[attr_val]=count

valuecount dict_values([{'rainy': 1, 'sunny': 3}])
counter: Counter({'sunny': 3, 'rainy': 1})
valuecount dict_values([{'rainy': 1, 'sunny': 3}, {'cool': 1, 'hot': 2, 'mild': 1}])
counter: Counter({'hot': 2, 'cool': 1, 'mild': 1})
valuecount dict_values([{'rainy': 1, 'sunny': 3}, {'cool': 1, 'hot': 2, 'mild': 1}, {'normal': 1, 'high': 3}])
counter: Counter({'high': 3, 'normal': 1})
valuecount dict_values([{'rainy': 1, 'sunny': 3}, {'cool': 1, 'hot': 2, 'mild': 1}, {'normal': 1, 'high': 3}, {'strong': 2, 'weak': 2}])
counter: Counter({'strong': 2, 'weak': 2})
valuecount dict_values([{'overcast': 4, 'rainy': 2, 'sunny': 1}])
counter: Counter({'overcast': 4, 'rainy': 2, 'sunny': 1})
valuecount dict_values([{'overcast': 4, 'rainy': 2, 'sunny': 1}, {'mild': 3, 'hot': 2, 'cool': 2}])
counter: Counter({'mild': 3, 'hot': 2, 'cool': 2})
valuecount dict_values([{'overcast': 4, 'rainy': 2, 'sunny': 1}, {'mild': 3, 'hot': 2, 'cool': 2}, {'high': 2, 'normal': 5}])
counter: Counter({'normal': 5, 'high': 2})
valuecount dict_values([{'overcast': 4, 'rainy': 2, 'sunny': 1}, {'mild': 3, 'hot': 2, 'cool': 2}, {'high': 2, 'normal': 5}, {'strong': 3, 'weak': 4}])
counter: Counter({'weak': 4, 'strong': 3})

In [0]:
from pprint import pprint

In [0]:
print("resultant table is\n ")
pprint(table)
pprint(priorprob)

resultant table is

{'no': {'humidity': {'high': 3, 'normal': 1},
        'outlook': {'rainy': 1, 'sunny': 3},
        'temperature': {'cool': 1, 'hot': 2, 'mild': 1},
        'wind': {'strong': 2, 'weak': 2}},
 'yes': {'humidity': {'high': 2, 'normal': 5},
         'outlook': {'overcast': 4, 'rainy': 2, 'sunny': 1},
         'temperature': {'cool': 2, 'hot': 2, 'mild': 3},
         'wind': {'strong': 3, 'weak': 4}}}
{'no': 4, 'yes': 7}

In [0]:
total_size=test['play'].count()

In [0]:
correct_pred=0

In [0]:
for k,row in test.iterrows():
  #print(k,row)
  row_tuple=dict(row)
  #print(row_tuple)
  post_list=list()
  play_list=list()
  for play in table.keys():
    #print(play)
    posteriori=1.0
    print(row_tuple.keys())
    print(row_tuple.values())
    for key in [x for x in row_tuple.keys() if x!='play']:
      print(key,'play:',play)
      attr_values=row_tuple.get(key)
      if attr_values in table[play][key].keys():
        countlist=table[play][key].values()
        attrcount=table[play][key][attr_values]
        posterior=1.0*attrcount/sum(countlist)*posteriori
        
    posteriori=posteriori*priorprob[play]
    play_list.append(play)
    post_list.append(posteriori)
    print(play_list)
    print(post_list)
  maxprobind = post_list.index(max(post_list))
  print(row_tuple['play'],"::::",play_list[maxprobind])
  if row_tuple['play']==play_list[maxprobind]:
    print(row_tuple['play'],"::::",play_list[maxprobind])
    correct_pred=correct_pred+1
    print("posteriori of",play," is:",posteriori)
    
print("Number of correct predictions: number of samples",correct_pred,":",total_size)
print("Accuracy: ",100.0*correct_pred/total_size)

dict_keys(['outlook', 'temperature', 'humidity', 'wind', 'play'])
dict_values(['rainy', 'mild', 'high', 'weak', 'yes'])
outlook play: no
temperature play: no
humidity play: no
wind play: no
['no']
[4.0]
dict_keys(['outlook', 'temperature', 'humidity', 'wind', 'play'])
dict_values(['rainy', 'mild', 'high', 'weak', 'yes'])
outlook play: yes
temperature play: yes
humidity play: yes
wind play: yes
['no', 'yes']
[4.0, 7.0]
yes :::: yes
yes :::: yes
posteriori of yes  is: 7.0
dict_keys(['outlook', 'temperature', 'humidity', 'wind', 'play'])
dict_values(['sunny', 'cool', 'normal', 'weak', 'yes'])
outlook play: no
temperature play: no
humidity play: no
wind play: no
['no']
[4.0]
dict_keys(['outlook', 'temperature', 'humidity', 'wind', 'play'])
dict_values(['sunny', 'cool', 'normal', 'weak', 'yes'])
outlook play: yes
temperature play: yes
humidity play: yes
wind play: yes
['no', 'yes']
[4.0, 7.0]
yes :::: yes
yes :::: yes
posteriori of yes  is: 7.0
dict_keys(['outlook', 'temperature', 'humidity', 'wind', 'play'])
dict_values(['rainy', 'mild', 'high', 'strong', 'no'])
outlook play: no
temperature play: no
humidity play: no
wind play: no
['no']
[4.0]
dict_keys(['outlook', 'temperature', 'humidity', 'wind', 'play'])
dict_values(['rainy', 'mild', 'high', 'strong', 'no'])
outlook play: yes
temperature play: yes
humidity play: yes
wind play: yes
['no', 'yes']
[4.0, 7.0]
no :::: yes
Number of correct predictions: number of samples 2 : 3
Accuracy:  66.66666666666667